<!doctype html>
<html>
  <%= partial "head" %>
  <body>
    <%= partial 'top-nav' %>    
    <div class="wrapper fade-in">
      <%= yield %>
    </div>    
    <%= partial 'aside' %>
  </body>
</html>
